.container {
  z-index: 1;
  position: relative;
  padding-bottom: 64px;

  button {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 40px;
    height: 40px;
    background: #1f1f1f;
    opacity: 0.6;
    border: none;

    img {
      width: 24px;
      height: 24px;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(103%) contrast(103%);
      z-index: 100;
    }
  }
}

.offer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 32px;
  left: 24px;
  top: 16px;
  background: #d4302a;

  box-shadow: 0px 1px 2px rgba(31, 31, 31, 0.3);
  border-radius: 18px;

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
}

.info {
  h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #262626;
  }
}

.location {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  z-index: 10;
  top: 176px;
  left: 24px;

  img {
    width: 24px;
    height: 24px;
  }

  p {
    margin-left: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0%;
    letter-spacing: 0.2px;
    color: #ffffff !important;
  }
}

.rating {
  display: flex;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5,
  h4 {
    margin-bottom: 0;
  }

  h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #262626;
    margin-left: 8px;
  }

  h5 {
    margin-top: 8px;
  }
}

.description {
  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #595959;
    margin: 8px 0 20px 0;
  }
}

.mainimage {
  margin-bottom: 24px;
}
